<!DOCTYPE html>

<html>
  <head>
    <title>Implei | File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://yt3.googleusercontent.com/StKiUbnFjIp7gUT412fuKrxi0769fCz3B9HULTU8mrn1n9DahHrHCzVcmhYaOBeSuM0r17KnQg=s176-c-k-c0x00ffffff-no-rj"
      type="image/x-icon"
    />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>
        File Uploader
        <img
          src="https://cdn-icons-png.flaticon.com/512/126/126477.png"
          width="50"
          height="50"
          alt="upload"
        />
      </h1>
      <div class="view">
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <div class="form-group">
            <input
              id="inputfield"
              type="file"
              name='upfile'
              class="form-control"
            />
            <br />
            <button id="button" type="submit" class="btn btn-primary">
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
